nav {
    width: 30%;
}

.navigationbar {
    box-sizing: border-box;
    background-color: #FF5E5B;
    margin: 0%;
    width: 100vw;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.header img {
    position: absolute;
    left: 50px;
    top: 1px;
    width: 145px;
}



.listnavigation {
    list-style: none;
    display: flex;
justify-content: space-around;
align-items: center;
    font-family:'kanit', sans-serif; ;
    font-size: 30px;
    color: #FF5E5B;
    position: absolute;
margin-left: 250px;}

.li {
    color: #FFFFEA;
}



.listnavigation a {
    color: black;
    text-decoration: none;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}


.body {
    background-color: #FFFFEA;
}
.logo {
    position: fixed;
    left: 50px;
}

body {
    background-color: #FFFFEA;
}
.font {
    font-family: 'kanit', sans-serif;
    position: fixed;
    right: 65px;
    top: 35px;
    word-spacing: 60px;
    color: #FFFFEA;
    font-size: 150%;

}


.conteiner-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    font-size: 2.2em;
    font-family: 'kanit', sans-serif;
}

.conteiner-header img {
    width: 40%;
}

.conteiner-atrapalos img {
    width: 650px;
    margin-left: 80px;
}

.conteiner-atrapalos p {
    margin-left: 50px;
    margin-bottom: 100px;
    display: flex;


}

.conteiner-atrapalos button {
width:  30%;
height: 50px;
color: #FFED66;
background-color: #00CECB;
border: 0;
outline: 0;
border-radius: 10px;
font-size: 30px;
font-weight: bolder;
margin-left: 250px;


}



.sectioninfo {
background-color: #FF5E5B;
font-family: 'kanit', sans-serif;
font-size: 1.5em;
color: #FFFFEA;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 50px;
margin-top: 80px;

}

.sectioninfo p {
    display: flex;
    align-items: center;
    align-items: center;
    margin: 20px;
flex-direction: column;
}

.seccion2 {
    background-color: #FF5E5B;
    margin-top: 80px;
    border-radius: 50px;
    font-family: 'kanit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.7em;


}

.seccion2 h2 {
    color: #FFED66;
    margin: 0%;

}
.seccion2 p {
margin: 0%;
padding: 0%;
color: #FFFFEA;
}

.containerinfo h3 {
    color: #FFED66;
}

.seccion2 img {
    width: 200px;
}

.ALIMENTOS {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.containerinfo {
    display: flex;
    justify-content: center
    
    

}

.containerinfo p {
    font-size: 20px;
    margin: 20px;

}

.containerinfo img {
    margin-right: 80px;
}


.containerinfo h3 {
    margin-right: 55px;
}



.pollo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.picante {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bife {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}













.seccion3 {
    background-color: #FF5E5B;
    margin-top: 80px;
    border-radius: 50px;
    font-family: 'kanit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1.7em;
color: #FFFFEA;
}
    


    .seccion3 h2 {
        color: #FFED66;
    }

.seccion3 img {
    width: 200px;
}

.pedido2 {
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
flex-direction: row;
}

.containerimginfo {
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
font-size: 20px;
}

.containerimginfo p {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.moto p {
    margin-bottom: 48px;
}

.moto  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.moto img {
    margin-right: 70px;
}


.containerimginfo img {
    margin-left: 40px;
}

.documento img {
    margin-left: 74px;
    
}

.ramen img {
    margin: 0px;
    margin-left: 30px;
}

